@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Shafarik&display=swap");
.main {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}

.todo-list {
  display: grid;
  /* grid-template-rows: 33% 33% 33%; */
  height: 100vh;
}
.positive {
  display: flex;
  flex-direction: column;
}
/* .positive button {
  width: fit-content;
} */
.good-habit {
  display: flex;
  align-items: center;
}
.good-habit button {
  height: fit-content;
  margin: 10px;
  border: none;
  background-color: #e0e0e5;
}
.card {
  background-color: beige;
  height: 150px;
  width: 120px;
  padding: 5px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.logout-btn {
  padding: 3px;
  margin-top: 20px;
  cursor: pointer;
}
.list {
  display: none;
}
.topnav {
  background-color: #a0a0a8;
  overflow: hidden;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}
.topnav ul {
  display: flex;
  width: 100vw;
  justify-content: center;
}
.topnav a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}
.topnav li {
  list-style: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #72ade4;
  color: white;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .todo-list {
    display: none;
  }
  .list {
    display: flex;
    width: fit-content;
  }
  .main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .profile {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
  }
  .graph {
    width: 100vw;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .topnav {
    flex-direction: column;
    gap: 10px;
    height: 30px;
    padding-bottom: 20px;
  }
}
